@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@300;400;500;600;700;800&family=Blinker&family=Silkscreen:wght@400;700&display=swap');
:root {
	/* TYPOGRAPHY */
	--fs-large: 5rem;
	--fs-medium: 4rem;
	--fs-small: 2.5rem;
	--fs-900: 1.75rem;
	--fs-800: 1.625rem;
	--fs-700: 1.5rem;
	--fs-600: 1.25rem;
	--fs-500: 1.125rem;
	--fs-400: 1rem;
	--fs-300: 0.875rem;
	--fs-200: 0.8rem;
	--ff-cursive: 'Silkscreen', cursive;
	--ff-sans: 'Alexandria', sans-serif;
	--ff-sans-2: 'Blinker', sans-serif;
	--transition: all 0.3s ease-in-out;
	/* COLOR */
	--white-color: #ffffff;
	--orange-color: #f04d22;
	--black-color: #000;
	--light-gray-color: rgb(136, 136, 136);
	/* BOX-SHADOW */
	--box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 720px) {
	:root {
		--fs-500: 0.8rem;
	}
}
/******RESET ******/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: var(--ff-sans);
	background-color: var(--white-color);
	width: 100%;
}
a {
	color: inherit;
	text-decoration: none;
}
ul,
li {
	text-decoration: none;
	list-style: none;
	padding: 0;
}

button {
	border-width: 0;
	font-family: var(--ff-sans);
	background: transparent;
	border-color: transparent;
	cursor: pointer;
}

/******* Global Classes *******/
/* font-size */
.fs-200 {
	font-size: var(--fs-200);
}
.fs-300 {
	font-size: var(--fs-300);
}
.fs-400 {
	font-size: var(--fs-400);
}
.fs-500 {
	font-size: var(--fs-500);
}
.fs-500 {
	font-size: var(--fs-500);
}
.fs-600 {
	font-size: var(--fs-600);
}
.fs-700 {
	font-size: var(--fs-700);
}
.fs-800 {
	font-size: var(--fs-800);
}
.fs-small {
	font-size: var(--fs-small);
}
.fs-medium {
	font-size: var(--fs-medium);
	font-weight: 800;
}
.fs-large {
	font-size: var(--fs-large);
	font-weight: 900;
}
/* font-family */
.ff-sans {
	font-family: var(--ff-sans);
}
.ff-cursive {
	font-family: var(--ff-cursive);
	font-weight: 400;
}
.ff-sans-2 {
	font-family: var(--ff-sans-2);
}

/* text-color */
.text-white {
	color: var(--white-color);
}
.text-light {
	color: var(--light-gray-color);
	font-weight: 300;
}
/* text-transforma */
.uppercase {
	text-transform: uppercase;
}
/* flex/grid */
.flex-r {
	display: flex;
}
.flex-c {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.grid {
	display: grid;
}
/* mouse event */
.mouse-cursor {
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
	transform: translate(-50%, -50%);
	transition: all 0.4s ease;
	transition-property: font-size;
	z-index: -1;
	font-size: 50px;
	color: var(--orange-color);
}
/* navbar */
.link-grow {
	font-size: 70px;
}
.hovered-link {
	opacity: 1 !important;
}
/* highlight animation */
.highlight {
	position: absolute;
	top: 30%;
	left: 0;
	right: 0;
	width: 0%;
	height: 40px;
	max-width: 380px;
	background-repeat: no-repeat;
	z-index: -3000;
	animation: width 1300ms forwards;
	opacity: 0.9;
}
@keyframes width {
	100% {
		width: 100%;
	}
}
.underline {
	border-bottom: 20px solid var(--orange-color);
	width: fit-content;
}

/* NAVBAR */
.fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	box-shadow: var(--box-shadow);
	background-color: var(--white-color);
	z-index: 1;
}
.nav-bar {
	padding: 1em;
	border-bottom: 1px solid #c2c3c4;
}
.nav-header {
	align-items: center;
	justify-content: space-between;
}
.nav-btn {
	font-size: 1.5rem;
	cursor: pointer;
}

.link-container {
	position: fixed;
	left: 0;
	top: 0;
	width: 300px;
	height: 100%;
	background-color: var(--orange-color);
	transform: translate(-100%);
	transition: var(--transition);
	z-index: 100;
}
.link-header {
	justify-content: space-between;
	align-items: center;
	margin-bottom: 8px;
	padding: 20px;
}
.link-header > * {
	color: var(--white-color);
	font-weight: 300;
}
.link-header a {
	opacity: 0.6;
}

.links li :hover,
.links li :active,
.links li :focus {
	color: var(--orange-color);
	background-color: var(--white-color);
}
.scroll-link {
	display: block;
	padding: 9px 20px 10px;
	color: var(--white-color);
	font-weight: 400;
}

.nav-button-container > * {
	font-size: 1.5rem;
}
.search-icon,
.login-icon {
	display: none;
}

.sidebar-backdrop.show-sidebar {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	min-height: 100vh;
	background-color: #000;
	opacity: 0.6;
	transition: var(--transition);
}
.nav-close {
	display: none;
	position: fixed;
	top: 14px;
	left: 315px;
	color: var(--white-color);
}

.nav-close.show-sidebar {
	display: block;
}
.show-sidebar {
	transform: translate(0);
}

@media screen and (min-width: 1024px) {
	.nav-bar {
		border-bottom: none;
		padding: 20px 30px;
	}
	.nav-header {
		width: 100%;
		order: 2;
	}
	.nav-button-container {
		justify-content: flex-end;
		width: 100%;
		gap: 30px;
	}
	.nav-button-container > * {
		font-size: 1rem;
		opacity: 0.6;
	}
	.nav-button-container > *:hover,
	.nav-button-container > *:focus,
	.nav-button-container > *:active {
		opacity: 1;
	}
	.link-container {
		width: 100%;
		height: inherit;
		position: inherit;
		transform: translate(0);
		background-color: inherit;
	}

	.links {
		display: flex;
		gap: 20px;
	}
	.links li {
		/* padding: 10px; */
		opacity: 0.6;
	}
	.links li :hover,
	.links li :active,
	.links li :focus {
		color: inherit;
		background-color: inherit;
	}

	.scroll-link {
		padding: 0;
		color: var(--black-color);
		/* font-size: var(--fs-300);  */
	}

	.nav-open,
	.link-header,
	.sidebar-backdrop,
	.nav-close,
	.nav-close.show-sidebar,
	.show-sidebar {
		display: none;
	}

	.nav-button-container {
		display: flex;
	}
	.nav-button-container button {
		display: block;
	}
	.search-icon,
	.login-icon {
		display: block;
	}
}
/****** Section Styles ******/
/* home */
#home {
	width: 100%;
	min-height: 100vh;
}
.hero {
	display: grid;
	gap: 40px;
	place-items: center;
	padding: 40px 0;
}
.intro {
	width: 100%;
	text-align: center;
}
.intro-desc {
	margin-bottom: 10px;
}
.intro-desc span:last-child {
	display: block;
	font-weight: 800;
	position: relative;
	max-width: 388px;
	margin: 0 auto;
}

.shopNow-btn {
	position: relative;
	border: 1px solid var(--black-color);
	max-width: 300px;
	width: 80%;
	padding: 12px 0;
	color: var(--black-color);
	transition: background-color 0.5s ease;
}
.shopNow-btnhover {
	top: 5px;
	left: 5px;
	border: 2px solid var(--black-color);
}

.shopNow-btn:hover.shopNow-btn:after {
	box-shadow: none;
}
.shopNow-btn:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	box-shadow: 5px 6px 0 0;
	top: 0;
	left: 0;
}
.hero-image {
	width: 100%;
	height: 100%;
	object-fit: scale-down;
	content: url('./images/hero-mobile.jpeg');
	z-index: -2;
}
.hero-content {
	gap: 20px;
	text-align: center;
}

.circle {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin: 0 auto;
}
.circle-image {
	position: absolute;
	width: 115px;
	height: 115px;
	border-radius: 50%;
	background: url(./images/inthemass.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50%;
}
.text {
	position: absolute;
	width: 100%;
	height: 100%;
	animation: rotateText 10s linear infinite;
}
.hero-content p {
	width: 80%;
	max-width: 700px;
}
@keyframes rotateText {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.text span {
	position: absolute;
	left: 50%;
	font-size: 0.7rem;
	transform-origin: 0 75px;
}

@media screen and (min-width: 1024px) {
	.logo {
		font-size: var(--fs-900);
		position: absolute;
		top: 40px;
		left: 0;
		right: 0;
		text-align: center;
		font-size: 10rem;
		padding: 0 20px;
		font-family: var(--ff-sans-2);
		text-transform: uppercase;
		letter-spacing: 1rem;
		z-index: -2;
		font-weight: 900;
	}
	.logo.shrink {
		font-size: var(--fs-900);
		position: inherit;
		font-size: 1.5rem;
		padding: 0;
		font-family: var(--ff-cursive);
		letter-spacing: inherit;
		z-index: inherit;
		font-weight: 400;
	}

	.hero {
		display: block;
		min-height: 100vh;
		/* grid-template-columns: auto minmax(5rem) auto;/ */
		/* grid-template-areas:
			'intro image .'
			'intro image content'
			'. image content'; */
		margin-top: -70px;
		position: relative;
		padding: 0 20px;
		max-width: 1200px;
		gap: 0;
		margin: 0 auto;
	}

	.intro {
		/* grid-area: intro; */
		width: min-content;
		align-self: flex-end;
		position: absolute;
		left: 0;
		top: 30%;
		text-align: le;
	}
	.hero-image {
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 70%;
		max-width: 1000px;
		/* grid-area: image; */
		object-fit: cover;
		content: url(./images/hero-desktop.png);
	}

	.hero-content {
		align-items: flex-end;
		text-align: right;
		width: 500px;
		position: absolute;
		right: 0px;
		bottom: 10%;
	}
	.circle {
		margin: 0;
	}
}

.section {
	min-height: 100vh;
	padding: 2rem;
	width: 100%;
	/* overflow: hidden; */
	/* min-width: 100%; */
	/* padding-bottom: 5rem; */
}
.section-title h1 {
	margin: 0 auto;
	margin-bottom: 40px;
}
/* .section div:first-child {
	padding: 20px;
} */
/* SHOP */
#shop {
	background: #efefef;
	opacity: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.card-frame {
	grid-template-columns: 1fr;
	place-items: center;
	gap: 30px;
	height: 90%;
}
.card {
	position: relative;
	width: 100%;
	max-width: 300px;
	min-height: 400px;
	background-color: var(--white-color);
	border-radius: 8px;
	box-shadow: var(--box-shadow);
}
.card .front {
	padding: 20px 10px;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.card .front h2 {
	line-height: 2em;
}
.card-image {
	width: 100%;
	height: 250px;
	max-width: 300px;
}
.card-image img {
	object-fit: contain;
	width: 100%;
	height: 100%;
}
.card:last-child .card-image {
	display: flex;
	place-items: center;
}
.card:last-child .card-image img {
	height: 70%;
}
.card-desc > p {
	line-height: 2em;
}
footer {
	height: 20vh;
	padding-bottom: 5rem;
	background-color: black;
}
.card-overlay {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 8px;
}
.card-overlay:hover {
	background-color: rgba(0, 0, 0, 0.499);
}
.view-btn {
	display: none;
	padding: 15px;
	background-color: #ffffff;
}
.card-overlay:hover .view-btn {
	display: block;
	opacity: 1;
}
@media screen and (min-width: 992px) {
	.card-frame {
		grid-template-columns: 1fr 1fr 1fr;
		gap: 50px;
	}
}

#offers {
	background-color: var(--orange-color);
}
.slides {
	position: relative;
	/* justify-content: center;
	align-items: center; */
	max-width: 580px;
	width: 90%;
	aspect-ratio: 1;
	overflow: hidden;
	left: 0;
	right: 0;
	margin: 0 auto;
	margin-bottom: 20px;
}
.slides img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all 500ms ease-in-out;
}

.dot-indicators {
	justify-content: center;
	align-self: center;
	gap: 10px;
}
.dot-indicators > [aria-selected='true'] {
	background: url('./images/dot-active.png') 0% 0% / 100% 100% no-repeat;
}
.dot {
	width: 24px;
	height: 24px;
	background: url('./images/dot.png') 0% 0% / 100% 100% no-repeat;
}
