@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@300;400;500;600;700;800&family=Blinker&family=Silkscreen:wght@400;700&display=swap');
:root {
	/* TYPOGRAPHY */
	--fs-large: 5rem;
	--fs-medium: 4rem;
	--fs-small: 2.5rem;
	--fs-900: 1.75rem;
	--fs-800: 1.625rem;
	--fs-700: 1.5rem;
	--fs-600: 1.25rem;
	--fs-500: 1.125rem;
	--fs-400: 1rem;
	--fs-300: 0.875rem;
	--fs-200: 0.8rem;
	--ff-cursive: 'Silkscreen', cursive;
	--ff-sans: 'Alexandria', sans-serif;
	--ff-sans-2: 'Blinker', sans-serif;
	--transition: all 0.3s ease-in-out;

	--white-color: #ffffff;
	--orange-color: #ff512b;
	--black-color: #000;
	--light-gray-color: rgb(136, 136, 136);
}
@media screen and (min-width: 720px) {
	:root {
		--fs-500: 0.8rem;
	}
}
.fs-200 {
	font-size: var(--fs-200);
}
.fs-300 {
	font-size: var(--fs-300);
}
.fs-400 {
	font-size: var(--fs-400);
}
.fs-500 {
	font-size: var(--fs-500);
}
.fs-500 {
	font-size: var(--fs-500);
}
.fs-600 {
	font-size: var(--fs-600);
}
.fs-700 {
	font-size: var(--fs-700);
}
.fs-800 {
	font-size: var(--fs-800);
}
.fs-small {
	font-size: var(--fs-small);
}
.fs-medium {
	font-size: var(--fs-medium);
	font-weight: 800;
}
.fs-large {
	font-size: var(--fs-large);
	font-weight: 900;
}
.ff-sans {
	font-family: var(--ff-sans);
}
.ff-cursive {
	font-family: var(--ff-cursive);
	font-weight: 400;
}
.ff-body {
	font-family: var(--ff-body);
}
.text-light {
	color: var(--light-gray-color);
	font-weight: 300;
}
.uppercase {
	text-transform: uppercase;
}
.flex-r {
	display: flex;
}
.flex-c {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.grid {
	display: grid;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: var(--ff-sans);
	background-color: var(--white-color);
	width: 100%;
}
a {
	color: inherit;
	text-decoration: none;
}
ul,
li {
	text-decoration: none;
	list-style: none;
	padding: 0;
}

button {
	border-width: 0;
	font-family: var(--ff-sans);
	background: transparent;
	border-color: transparent;
	cursor: pointer;
}

.mouse-cursor {
	position: fixed;
	top: 0;
	left: 0;
	pointer-events: none;
	transform: translate(-50%, -50%);
	transition: all 0.4s ease;
	transition-property: font-size;
	z-index: -1;
	font-size: 50px;
	color: var(--orange-color);
}
.link-grow {
	font-size: 70px;
}
.hovered-link {
	opacity: 1 !important;
}
/* #mouse-cursor > div {
	position: relative;
	width: 30px;
	height: 30px;
	background-color: #ff512b;
	font-size: 10px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	--cursor-scale: 1;
	transform: scale3d(var(--cursor-scale), var(--cursor-scale), 1);
	will-change: transform;
	transition: transform 150ms ease-in-out;
} */

/* path {
	stroke: #ff512b;
	stroke-dasharray: 304;
	stroke-dashoffset: 304;
} */

.highlight {
	position: absolute;
	top: 30%;
	left: 0;
	right: 0;
	width: 0%;
	height: 40px;
	max-width: 380px;
	background-repeat: no-repeat;
	z-index: -3000;
	animation: width 1300ms forwards;
	opacity: 0.9;
}
@keyframes width {
	100% {
		width: 100%;
	}
}
.underline {
	border-bottom: 20px solid var(--orange-color);
	width: fit-content;
}

#home {
	width: 100%;
	min-height: 100vh;
}
/* NAVBAR */
.nav-bar {
	border-bottom: 1px solid #c2c3c4;
	padding: 1em;
}
.nav-header {
	align-items: center;
	justify-content: space-between;
}
.nav-btn {
	font-size: 1.5rem;
	cursor: pointer;
}
/*  */
.nav-button-container > * {
	font-size: 1.5rem;
}
.search-icon,
.login-icon {
	display: none;
}

.sidebar-backdrop.show-sidebar {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	min-height: 100vh;
	background-color: #000;
	opacity: 0.6;
	transition: var(--transition);
}
.link-container {
	position: fixed;
	left: 0;
	top: 0;
	width: 300px;
	height: 100%;
	background-color: var(--orange-color);
	transform: translate(-100%);
	transition: var(--transition);
	z-index: 100;
}
.link-header {
	padding: 20px;
	margin-bottom: 8px;
	justify-content: space-between;
	align-items: center;
}
.link-header > * {
	color: var(--white-color);
	font-weight: 300;
}
.link-header a {
	opacity: 0.6;
}

.links li :hover,
.links li :active,
.links li :focus {
	color: var(--orange-color);
	background-color: var(--white-color);
}
.scroll-link {
	display: block;
	color: var(--white-color);
	font-weight: 400;
	padding: 9px 20px 10px;
}

.nav-close {
	display: none;
	position: fixed;
	top: 14px;
	left: 315px;
	color: var(--white-color);
}

.nav-close.show-sidebar {
	display: block;
}
.show-sidebar {
	transform: translate(0);
}
.hero {
	/* min-height: 100vh; */
	padding: 40px 0;
	display: grid;
	gap: 40px;
	place-items: center;
	/* display: grid;
	grid-template-areas:
		'intro intro '
		'image image '
		'content content '; */
}
.intro {
	text-align: center;
	width: 100%;
}
.intro-desc {
	margin-bottom: 10px;
}
.intro-desc span:last-child {
	display: block;
	font-weight: 800;
	position: relative;
	max-width: 388px;
	margin: 0 auto;
}

.shop-now {
	position: relative;
	border: 1px solid var(--black-color);
	max-width: 300px;
	width: 80%;
	padding: 12px 0;
	color: var(--black-color);
	transition: background-color 0.5s ease;
}
.shop-now:hover {
	top: 5px;
	left: 5px;
	border: 2px solid var(--black-color);
}

.shop-now:hover.shop-now::after {
	box-shadow: none;
}
.shop-now::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	box-shadow: 5px 6px 0 0;
	top: 0;
	left: 0;
}
.hero-image {
	width: 100%;
	height: 100%;
	object-fit: scale-down;
	content: url('./images/hero-mobile.jpeg');
	z-index: -2;
}
.hero-content {
	text-align: center;
	gap: 20px;
}

.circle {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin: 0 auto;
}
.circle-image {
	position: absolute;
	width: 115px;
	height: 115px;
	border-radius: 50%;
	background: url(./images/inthemass.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50%;
}
.text {
	position: absolute;
	width: 100%;
	height: 100%;
	animation: rotateText 10s linear infinite;
}
.hero-content p {
	width: 80%;
	max-width: 700px;
}
@keyframes rotateText {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.text span {
	position: absolute;
	left: 50%;
	font-size: 0.7rem;
	/* font-family: var(--ff-sans-2); */
	transform-origin: 0 75px;
}
/* .coffee-1 {
	position: relative;
	max-width: 800px;
	width: 100%;
	z-index: -2;
	height: 500px;
	object-fit: cover;
	top: -220px;
	right: -130px;
} */

@media screen and (min-width: 1020px) {
	.nav-bar {
		border-bottom: none;
		padding: 20px 30px;
	}
	.nav-header {
		width: 100%;
		order: 2;
	}
	.nav-button-container {
		justify-content: flex-end;
		width: 100%;
		gap: 30px;
	}
	.nav-button-container > * {
		font-size: 1rem;
		opacity: 0.6;
	}
	.nav-button-container > *:hover,
	.nav-button-container > *:focus,
	.nav-button-container > *:active {
		opacity: 1;
	}
	.link-container {
		width: 100%;
		height: inherit;
		position: inherit;
		transform: translate(0);
		background-color: inherit;
	}

	.links {
		display: flex;
		gap: 20px;
	}
	.links li {
		/* padding: 10px; */
		opacity: 0.6;
	}
	.links li :hover,
	.links li :active,
	.links li :focus {
		color: inherit;
		background-color: inherit;
	}

	.scroll-link {
		padding: 0;
		color: var(--black-color);
		/* font-size: var(--fs-300);  */
	}

	.nav-open,
	.link-header,
	.sidebar-backdrop,
	.nav-close,
	.nav-close.show-sidebar,
	.show-sidebar {
		display: none;
	}

	.nav-button-container {
		display: flex;
	}
	.nav-button-container button {
		display: block;
	}
	.search-icon,
	.login-icon {
		display: block;
	}
	.logo {
		font-size: var(--fs-900);
		position: absolute;
		top: 40px;
		left: 0;
		right: 0;
		text-align: center;
		font-size: 10rem;
		padding: 0 20px;
		font-family: var(--ff-sans-2);
		text-transform: uppercase;
		letter-spacing: 1rem;
		z-index: -2;
		font-weight: 900;
	}

	.hero {
		min-height: 100vh;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-areas:
			'intro image .'
			'intro image content'
			'. image content';
		margin-top: -70px;
		padding: 0 20px;
		gap: 0;
	}

	.intro {
		grid-area: intro;
		align-self: flex-end;
	}
	.hero-image {
		grid-area: image;
		object-fit: cover;
		content: url(./images/65-scale-coffee.WEBP);
	}
	.hero-content {
		grid-area: content;
	}
}
@media screen and (min-width: 1020px) {
}
