/* onboarding */

.onboarding-slide {
	text-align: center;
}

.onboarding-content-title {
	margin-bottom: 15px;
	font-weight: 600;
}
.onboarding-image-wrapper img {
	object-fit: cover;
	max-height: 300px;
	margin: 0 auto;
}
.onboarding-button-wrapper {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 50px;
	margin: 0 auto;
	grid-template-areas:
		'dots dots'
		'btn1 btn2';
	place-items: center;
	gap: 40px;
}

.dot-indicators {
	grid-area: dots;
	flex-direction: row;
	justify-content: center;
	gap: 12px;
	/* margin: 30px 0; */
}
.dot-indicators > * {
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background-color: var(--light-gray-color);
}

.dot-indicators .active {
	width: 25px;
	border-radius: 3.5px;
	background-color: var(--main-color);
}
.btn-onbording-left {
	grid-area: btn1;
}
.btn-onboarding-right {
	grid-area: btn2;
}

.btn-onbording-left,
.btn-onboarding-right {
	font-weight: 600;
	border-radius: 10px;
	width: 130px;
	padding: 12px 0;
	letter-spacing: 0.15em;
}
/* signUp & login */
.signUp-image-wrapper img,
.login-image-wrapper img {
	margin: 0 auto;
	width: 80%;
}

.signUp-content-wrapper h1,
.login-content-wrapper h1 {
	margin-bottom: 15px;
}
.form div:not(:last-child) {
	margin-bottom: 15px;
}
.form i {
	display: inline;
}
.form i::before {
	color: var(--light-gray-color);
}
.input-field {
	width: 90%;
	margin-left: 10px;
	padding: 8px 0;
	border-bottom: 1px solid var(--light-gray-color);
}
.input-field::placeholder {
	font-size: var(--fs-200);
	letter-spacing: 0.05em;
}
.input-field:focus {
	outline: none;
	border-bottom: 2px solid var(--main-color);
}
.input-field:focus::placeholder {
	color: transparent;
}

.signUp-button-wrapper,
.login-button-wrapper {
	place-items: center;
	margin-bottom: 5px;
}
.signUp-button-wrapper > *,
.login-button-wrapper > * {
	width: 90%;
	border-radius: 8px;
	padding: 8px 0;
	text-align: center;
}
.login-button-wrapper button:first-child {
	margin-bottom: 15px;
}
.login-button-wrapper a::before {
	display: inline-block;
	content: '';
	background-image: url(./images/icons8-google-20.png);
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	vertical-align: middle;
	margin-right: 8px;
}
